{% extends 'base.html' %}

{% load static %}
{% block section %}
    <h2>
        {{ object.nombre }}
        
        {% if object.producto_id %}
            ( <a href="{% url "producto-detail" object.producto_id %}">{{ object.nombre }}</a> )
        {% endif %}
    </h2>
    <a href="{% url "producto-update" object.id %}">Editar</a>
    <a href="{% url "producto-delete" object.id %}">Borrar</a>
    <hr>
{% endblock section %}

{% block maincontent %}
<div>
    <div>
        <img src="{% static object.foto.url %}" style="width:400px;height:400px"/>
    </div>
</div>
{% endblock maincontent %}

{%block index%}

{%endblock index%}